# Python
venv/
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data files
*.csv
*.xlsx

# Logs & temp
*.log
*.tmp

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# virtual environments
env/
venv/
new-env/

# notebooks
.ipynb_checkpoints/

# python
__pycache__/
*.pyc

